h1 {
    font-size: 3.5em;
}
h3 {
    color: #3B94D9;!important;
}

p {
    margin-bottom: 1em;
}

hr {
    color: #0fb784;!important;
    border-width: 5px;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

h2 {
margin-bottom: .5em;
}




