/* h1 {*/
/*   !* display: flex;*!*/
/*   !* align-content: center;*!*/
/*   !*background-size: cover;*!*/
/*    margin-left: 10em;*/
/*    margin-bottom: 1.5em;*/
/*}*/

h3 {
    color: #3B94D9;!important;
}

p {
    margin-bottom: 1em;
}

hr {
    color: #0fb784;!important;
    /*height: 500px;*/
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

h2 {
margin-bottom: .5em;
}




