#map {
    padding-bottom: 10px;
}

.card {
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    padding: 5px;
    background-color:lightgrey;

}

body{
    background-color: whitesmoke;
}

.top-banner{
    background-color: lightgrey;
}

#mapSearch{
    background-color: lightgrey;
    border-radius: 25px;
}

#search-btn  {
    border-radius: 25px;
}

#userInput {
    border-radius: 25px;
}